<app-header (searchTermChange)="onSearchTermChange($event)"></app-header>

<div class="game-container" *ngIf="game; else loading">
  <div class="game-item">
    <img
      [src]="
        game.cover
          ? 'https:' + game.cover.url.replace('thumb', 'cover_big')
          : 'https://i.ibb.co/Xx8MWN1/placeholder-264x374.png'
      "
      alt="{{ game.name }} cover"
    />
    <h3 class="GameName">{{ game.name }}</h3>
    <p *ngIf="game.release_dates && game.release_dates.length > 0">
      {{ game.release_dates[0].human }}
    </p>
    <p *ngIf="!game.release_dates || game.release_dates.length === 0">
      Not yet released.
    </p>
  </div>
</div>

<ng-template #loading>
  <div>Loading game details...</div>
</ng-template>
