a{
    text-decoration: none;
    color: aliceblue;
}
header{
    margin: -8px;
    padding: 5px;
 background-color: #222831;;
}
input{
margin: 5px;
    margin-left: 230px;
    width: 550px;
    height: 25px;
}