*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1rem 15px;
  padding-top: 30px; 
  height: 80px;
  background-color: #0b192c; 
}

.form {
  display: flex;
  justify-content: center; 
  width: 100%;
}

mat-form-field {
  flex: 1;
  min-width: 200px;
  max-width: 600px; /* Adjusted for better responsiveness */
  margin: 0 auto; /* Center the form field */
}

input {
  height: 100%;
  text-align: center; 
}

@media (max-width: 600px) {
  mat-form-field {
    max-width: 100%; 
  }
}

